* {
    margin: 0;
}

@font-face {
    font-family: "Burbank Big Condensed";
    src: url("//db.onlinewebfonts.com/t/800e985f75a5a56c2f7b4be502d286de.eot");
    src: url("//db.onlinewebfonts.com/t/800e985f75a5a56c2f7b4be502d286de.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/800e985f75a5a56c2f7b4be502d286de.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/800e985f75a5a56c2f7b4be502d286de.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/800e985f75a5a56c2f7b4be502d286de.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/800e985f75a5a56c2f7b4be502d286de.svg#Burbank Big Condensed") format("svg");
}


html, body {
    height:100%;
}
html {
    background: url(/static/body2.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
.container {
    min-height: 100%;
}

.item-images {
    margin-right: 10px;
    position: relative;
    display: inline-block;
}

.item-box {
    position: absolute;
    bottom: 5px;
    width:100%;
    text-align: center;
    font-family: "Burbank Big Condensed";
    color: white;
}

.item-title {
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.4);
  }

.item-price {
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.7);
  }

.shop-title {
    font-size: 30px;
    text-align: center;
}


  .text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }

.stats-title {
    font-size: 20px;
    background: black;
    text-align: center;
    border-radius: 5px;
    color: white;
    margin-bottom: 5px;
}

.fortnite-title {
    color: white;
    font-size: 190px;
    text-shadow: 2px 2px black;
    font-family: Burbank Big Condensed;
    line-height: 250px;
}

@media (max-width: 1024px) {
    .fortnite-title {
        font-size: 95px;
        line-height: 100px;
    }
}

@media (max-width: 767px) {
    .fortnite-title {
        font-size: 40px;
        line-height: 50px;
    }
}

.challenges-btn a {
    font-size: 50px;
    color: lightblue;
    text-shadow: 2px 2px black;
}

.fortnite-button {
    font-size: 50px;
    font-family: "Burbank Big Condensed";
    background-color: rgba(0, 0, 0, 0.4);
    border: none;
    padding: 10px 70px 5px 70px;
    margin-right: 20px;
    color: white;
}

.fortnite-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

@media (max-width: 1024px) {
    .fortnite-button {
        font-size: 20px;
        width: 100%;
        margin-bottom: 5px;
    }
}


.lds-facebook {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 6px;
    width: 13px;
    background: #fff;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .lds-facebook div:nth-child(1) {
    left: 6px;
    animation-delay: -0.24s;
  }
  .lds-facebook div:nth-child(2) {
    left: 26px;
    animation-delay: -0.12s;
  }
  .lds-facebook div:nth-child(3) {
    left: 45px;
    animation-delay: 0;
  }
  @keyframes lds-facebook {
    0% {
      top: 6px;
      height: 51px;
    }
    50%, 100% {
      top: 19px;
      height: 26px;
    }
  }
